<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/items/delete" method="POST">
    <label for="category">Select Category:</label>
    <select id="category" name="category">
      <% categories.forEach(function(category) { %>
        <option value="<%= category._id %>"><%= category.name %></option>
      <% }) %>
    </select>
    <br>
    <label for="item">Select Item to Delete:</label>
    <select id="item" name="item">
      <% categories.forEach(function(category) { %>
        <% category.items.forEach(function(item) { %>
          <option value="<%= item._id %>"><%= item.name %></option>
        <% }) %>
      <% }) %>
    </select>
    <br>
    <button type="submit">Delete Item</button>
  </form>
</body>
</html>
